<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedulemate.mapper.SendMapper">
	Member resultmap 정의
	<resultMap id="memberMap"
		type="com.schedulemate.send.domain.SendVO">
		<id property="sdnum" column="sdnum" />
		<result property="sdUserId" column="sd_userId" />
		<result property="mnum" column="m_num" />
		<result property="snum" column="s_num" />
		<result property="sdate" column="s_date" />
	</resultMap>

</mapper> -->