.mypage_nav li.mypage-registerUserId {
	border-bottom: 3px dashed black;
	color: black;
}

.mypage_nav li:hover {
	background: black;
	color: white;
	border-radius: 10px;
}


.mypage_userid_info_container {
	margin: 50px;
	margin-top: 30px;
}
.mypage_userid_info_title {
	padding-left: 20px;
}

.mypage_userid_info_detail {
	width: 630px;
	max-height : 200px;
	margin: 60px auto;
	margin-left: 55px;
	box-shadow: 5px 5px #6e6e6e;
	border: 3px solid #6e6e6e;
}
.mypage_userid_info_form_container {
	width: 400px;
	margin : 0 auto;
	height : 150px;
	margin-top : 80px;
}
.mypage_userid_info_input, .mypage_userid_info_modify_input {
	width : 320px;
	height : 35px;
	padding-left : 20px;
}
.mypage_userid_info_modify_input {
	width : 300px;
}
.mypage_userid_info_sub_btn, .mypage_userid_info_modify_btn, .modify_success_btn, .modify_cancel_btn {
	height : 45px;
	width : 45px;
	border-radius: 10px;
	border-style : none;
	color: white;
	background: black;
	font-weight: 700;
	cursor: pointer;
}
.mypage_userid_info_modify_btn {
	width : 65px;
}
.modify_success_btn, .modify_cancel_btn {
	width : 70px;
}
.mypage_userid_info_sub_btn:hover {
	color: black;
	background: white;
	border : 1px solid black;
}
.mypage_userid_info_modify_btn:hover {
	color: black;
	background: white;
	border : 1px solid black;
}
.modify_success_btn:hover {
	color: black;
	background: white;
	border : 1px solid black;
}
.modify_cancel_btn:hover {
	color: black;
	background: white;
	border : 1px solid black;
}